/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Alegreya Sans', sans-serif;
}

.landing-page{
    @apply overflow-y-auto h-screen;
}

.landing-page-content{
    @apply overflow-visible;
}

.add-btn{
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-green-700 whitespace-break-spaces hover:text-purple-600 transition-colors duration-200;
}

.card-btn{
    @apply flex items-center gap-3 text-[12px]  font-medium text-gray-600 hover:text-purple-600 transition-colors duration-200;
}

.add-btn-fill {
    @apply text-white bg-purple-600 ;
}